html {
    scroll-behavior: smooth;
}

body {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgb(255, 255, 255);
}

label {
    font-weight: bold;
}

.content {
    font-family: "Gafata", sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.article-content {
    font-family: "Gafata", sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.avatar {
    border: 1px solid #ddd;
    vertical-align: middle;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
}